<main role="main" class="container">
    <div class="col-md-12 col-sm-12 page-not-found">
        <div class="col-md-6 col-sm-6">
            <img src="/assets/images/gif-search.gif" class="img-responsive">
        </div>

        <div class="col-md-6 col-sm-6 magrin-initial">
            <span>O que pode ter acontecido?</span>

            <ul class="list-group magrin-initial-ul">
                <li class="list-group-item"> - Não existem resultados para o termo buscado.</li>
                <li class="list-group-item"> - Não existem resultados para o filtro selecionado.</li>
                <li class="list-group-item"> - Essa página não existe.</li>
            </ul>

            <a class="btn btn-primary pull-right" href="/"> Ir para a página inicial</a>
        </div>
    </div>
</main>