<main role="main" class="container user-panel-page">
    <div class="container">
        <div class="row">
            <h3>Recuperar Senha</h3>
            <div class="forgot-password">
                <form [formGroup]="forgotForm" (submit)="recoverPassword()">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <span class="control-label" for="senha">Senha *</span>
                                <input formControlName="password" type="password" id="password" class="form-control" placeholder="Senha" />
                                <small class="text-danger" *ngIf="forgotForm.get('password').errors?.required">Senha obrigatório
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <span class="control-label" for="passwordConfirm">Confirmar Senha *</span>
                                <input formControlName="passwordConfirm" type="password" id="passwordConfirm" class="form-control" placeholder="Confirmar Senha"
                                />
                                <small class="text-danger" *ngIf="validateEquals()">Confirmação da senha inválida</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group">
                            <button [disabled]="invalidForgotForm()" id="btnEnviar" type="submit" data-loading-text="Enviando..." class="btn btn-lg btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</main>