<main role="main" class="container checkout-page" *ngIf="getStore()">
    <div class="row">
        <div class="checkout-title">
            <h2 class="page-title col-md-8 col-sm-12">MEU CARRINHO</h2>
            <span class="col-md-4 col-sm-12" *ngIf="modality > -1 && getNumItemsInCart() > 0">
                <app-checkout-button [cart]="getCart()" icon="true" [text]="buttonLabel"></app-checkout-button>
            </span>
        </div>
    </div>
    <div class="row row-desktop-cart hidden-xs">
        <!--Tintas-->
        <table class="table table-checkout" *ngIf="getNumPaintsInCart() > 0">
            <thead>
                <tr>
                    <td colspan="3">{{ (getNumPaintsInCart() > 1) ? 'Tintas' : 'Tinta' }}</td>
                    <td class="text-center" width="120px">Quantidade</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Valor Unitário</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Total</td>
                    <td width="45px"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paint of getCart().paints">
                    <td class="thumb-cart">
                        <img [attr.src]="getPaintPicture(paint)" class="img-responsive image" [attr.alt]="paint.name">
                    </td>
                    <td>
                        <b class="name">{{paint.baseName}} {{paint.colorName}}</b> 
                        <span class="sku">Cód. {{paint.colorCode}}</span>
                        <span class="variations">{{paint.optionName}}</span>
                    </td>
                    <td>
                        <span class="color-block img-thumbnail" [ngStyle]="{'background-color': '#' + paint.colorRgb}"></span>
                    </td>
                    <td class="text-center">
                        <span class="qty-box">
                            <input type="number" name="qty" [ngModel]="paint.quantity" [attr.title]="paint.quantity" (ngModelChange)="updatePaint($event, paint)" min="1" step="1">
                        </span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="regular-price">{{paint.totalUnitPrice | currencyFormat }}</span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue"><span class="total-price">{{paint.totalPrice | currencyFormat }}</span></td>
                    <td class="text-center"><a href="#" (click)="deletePaint($event, paint)" class="btn-remove"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
        <!--Produtos-->
        <table class="table table-checkout" *ngIf="getNumProductsInCart() > 0">
            <thead>
                <tr>
                    <td colspan="2">{{ (getNumProductsInCart() > 1) ? 'Produtos' : 'Produto' }}</td>
                    <td class="text-center" width="120px">Quantidade</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Valor Unitário</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Total</td>
                    <td width="45px"></td>
                </tr>
            </thead>
            <tbody *ngIf="getNumProductsInCart() > 0">
                <tr *ngFor="let item of getCart().products">
                    <td class="thumb-cart">
                        <img [attr.src]="getPicture(item.sku)" class="img-responsive image" [attr.alt]="item.name">
                    </td>
                    <td>
                        <b class="name">{{item.name}}</b>
                        <span class="sku">Cód. {{item.sku.code}}</span>
                        <span *ngIf="!isHiddenVariation()"><span class="variations" *ngFor="let variation of item.sku.variations">{{variation.name + ': ' + variation.option.name}}</span></span>
                        <span class="variations" *ngIf="item.sku.feature">{{item.sku.feature}}</span>
                    </td>
                    <td class="text-center">
                        <span class="qty-box">
                            <input type="number" name="qty" [ngModel]="item.quantity" [attr.title]="item.quantity" (ngModelChange)="updateItem($event, item)" min="1" step="1">
                        </span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue"><span class="total-price">{{item.totalPrice | currencyFormat }}</span></td>
                    <td class="text-center"><a href="#" (click)="deleteItem($event, item)" class="btn-remove"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
            <tbody *ngIf="getNumProductsInCart() == 0">
                <tr>
                    <td colspan="6"><p class="text-muted">Seu carrinho está vazio</p></td>
                </tr>
            </tbody>
        </table>
        <!--Serviços-->
        <table class="table table-checkout" *ngIf="hasServices()">
            <thead>
                <tr>
                    <td>Serviço(s)</td>
                    <td class="text-center">Regras</td>
                    <td class="text-center" width="120px">Quantidade</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Valor Unitário</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Total</td>
                    <td width="45px"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getCart().services">
                    <td>{{item.serviceType}}</td>
                    <td>{{item.rules}}</td>
                    <td class="text-center">
                        <span class="qty-box">
                            <input type="number" name="qty" [ngModel]="item.quantity" [attr.title]="item.quantity" (ngModelChange)="updateItemService($event, item)" min="1" step="1">
                        </span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue"><span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span></td>
                    <td class="text-center" *ngIf="showProductValue"><span class="total-price">{{(item.totalPrice) | currencyFormat }}</span></td>
                    <td class="text-center"><a href="#" (click)="deleteItemService($event, item)" class="btn-remove"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row row-mobile-cart hidden-lg hidden-md">
        <ul class="mobile-cart-items">
            <!-- Paints -->
            <li *ngFor="let item of getCart().paints" class="mobile-cart-item clearfix">
                <span class="actions pull-right">
                    <button class="btn-remove" (click)="deletePaint($event, item)"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">Remover do Carrinho</span></button>
                    <span class="update-qty">
                        <input type="number" min="1" step="1" [ngModel]="item.quantity" (ngModelChange)="updatePaint($event, paint)">
                    </span>
                </span>
                <span class="thumb pull-left">
                    <a [routerLink]="['/corespersonalizadas', item.manufacturer, item.colorCode, item.optionId]" class="link-product">
                        <img [attr.src]="getPaintPicture(paint)" class="img-responsive image" [attr.alt]="item.baseName" width="50" height="50">
                    </a>
                </span>
                <span class="details overflow-hidden">
                    <a href="#" class="link-product">
                        <b>{{item.baseName}} {{item.colorName}}  </b>
                        <span class="variations">Cód. {{item.colorCode}}</span>
                        <span class="variations">{{item.optionName}}</span>
                        <span class="color-block img-thumbnail" [ngStyle]="{'background-color': '#' + item.colorRgb}"></span>
                        <strong>
                            <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                        </strong>
                    </a>
                </span>
            </li>
            <!-- Products -->
            <li *ngFor="let item of getCart().products" class="mobile-cart-item clearfix">
                <span class="actions pull-right">
                    <button class="btn-remove" (click)="deleteItem($event, item)"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">Remover do Carrinho</span></button>
                    <span class="update-qty">
                        <input type="number" min="1" step="1" [ngModel]="item.quantity" (ngModelChange)="updateItem($event, item)">
                    </span>
                </span>
                <span class="thumb pull-left">
                    <a [routerLink]="['/produto/' + item.sku.id]" class="link-product">
                        <img [attr.src]="getPicture(item.sku)" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                    </a>
                </span>
                <span class="details overflow-hidden">
                    <a [routerLink]="['/produto/' + item.sku.id]" class="link-product">
                        <b>{{item.name}} {{item.sku.code}} {{item.sku.feature}}</b>
                        <span *ngIf="!isHiddenVariation()"><span class="variations" *ngFor="let variation of item.sku.variations">{{variation.name + ': ' + variation.option.name}}</span></span>
                        <strong>
                            <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                        </strong>
                    </a>
                </span>
            </li>
        </ul>
    </div>

    <div class="row row-no-products-in-cart" *ngIf="getNumItemsInCart() == 0">
        <div class="container">
            <p>Seu carrinho está vazio</p>
            <a [routerLink]="['/']" class="btn btn-info pull-right">{{(modality == 1) ? 'CONTINUAR COMPRANDO' : 'CONTINUAR ORÇANDO'}}</a>
        </div> 

    </div>

    <div class="row checkout-total" *ngIf="getNumItemsInCart()">
        
        <div class="col-sm-12 col-md-5" *ngIf="!isCatalog()">
            <app-coupon [cart]="getCart()" (cartUpdated)="handleCartUpdated($event)"></app-coupon>
            <app-shipping-calc [cart]="getCart()" (cartUpdated)="handleCartUpdated($event)"></app-shipping-calc>
        </div>

        <div [ngClass]="{'col-md-12': isCatalog(), 'col-sm-12 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-3': !isCatalog()}">
            <div class="total-box">
                <table *ngIf="showProductValue">
                    <tbody>
                        <tr class="subtotal">
                            <td class="text-left"><span>Subtotal ({{getNumItemsInCart() + ' ' + (getNumItemsInCart() > 1 ? 'itens' : 'item')}})</span></td>
                            <td class="text-right"><strong>{{getSubTotal() | currencyFormat }}</strong></td>
                        </tr>
                        <tr class="descont" *ngIf="!isCatalog()">
                            <td class="text-left"><span>Desconto</span></td>
                            <td class="text-right"><strong *ngIf="getDiscount()">- {{getDiscount() | currencyFormat }}</strong></td>
                        </tr>
                        <tr class="services" *ngIf="getTotalService() > 0">
                            <td class="text-left"><span>Serviços</span></td>
                            <td class="text-right"><strong>{{getTotalService() | currencyFormat }}</strong></td>
                        </tr>
                        <tr class="shipping" *ngIf="!isCatalog()">
                            <td class="text-left"><span>Frete</span></td>
                            <td class="text-right" *ngIf="getCart().shipping != null">
                                <strong *ngIf="getShipping() == 0">Frete Grátis</strong>
                                <strong *ngIf="getShipping() != 0">{{getShipping() | currencyFormat }}</strong>
                            </td>
                            <td class="text-right" *ngIf="getCart().shipping == null">
                                <strong>--</strong>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <th class="text-left"><span>Total</span></th>
                            <th class="text-right"><strong>{{getTotal() | currencyFormat }}</strong></th>
                        </tr>
                    </tfoot>
                </table>

                <app-checkout-button *ngIf="modality > -1" icon="true" [text]="buttonLabel" [cart]="getCart()"></app-checkout-button>

                <a [routerLink]="['/']" class="btn btn-block btn-md btn-default btn-back-to-buy">{{(modality == 1) ? 'CONTINUAR COMPRANDO' : 'CONTINUAR ORÇANDO'}}</a>
            </div>
        </div>

    </div>
    <div class="row">
        <app-cart-showcase [store]="getStore()"></app-cart-showcase>
    </div>

</main>