<div id="main-banner" class="container">
    <div class="showcase-banners list-style-none">
        <div *ngFor="let banner of banners">
            <a *ngIf="banner.url" [attr.href]="banner.url" target="_blank">
                <img [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-responsive"/>
            </a>
            <span *ngIf="!banner.url">
                <img [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-responsive"/>
            </span>
        </div>
    </div>
</div>