<!-- Conteúdo do rodapé -->

<footer id="footer-checkout" *ngIf="isCheckout() && !isMobile()">
    <div class="container">
        <div class="row">
            <div class="copy-right col-xs-12 col-md-9">
                <p>© {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados.</p>
                <p>CNPJ: {{store.cnpj}} / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2)
                    ? ' - ' + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}</p>
            </div>
            <div class="signature col-xs-12 col-md-3 text-right">
                Tecnologia:
                <a href="#" title="Idealeware" target="_blank">
                    <img src="/assets/images/signature.png" alt="Idealeware" />
                </a>
            </div>
        </div>
    </div>
</footer>

<footer id="footer" *ngIf="isCheckout() == false && !isMobile()">
    <!-- Newsletter -->
    <newsletter></newsletter>
    <!-- /Newsletter -->

    <!-- Main Footer -->
    <div id="main-footer">
        <div class="container">
            <div class="row">
                <div class="list-footer col-xs-6 col-md-2 footer-institutional">
                    <h3 class="title">Institucional</h3>
                    <ul>
                        <li *ngFor="let institutional of institutionals"><a [routerLink]="['/institucional/' + institutional.id + '/' + institutional.niceName]" [attr.title]="institutional.title">{{institutional.title}}</a></li>
                    </ul>
                </div>
                <div class="list-footer col-xs-6 col-md-3 footer-help">
                    <img *ngIf="paymentName == 'pagseguro'" src="/assets/images/bandeiras-pagseguro.jpg" alt="PagSeguro">
                </div>
                <div class="col-xs-12 visible-xs visible-sm">
                    <hr>
                </div>
                <div class="list-footer col-xs-6 col-md-3 footer-call-center">
                    <h3 class="title">Central de Atendimento</h3>
                    <ul>
                        <li><span>Televendas <b class="phone">{{store.phone}}</b></span></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-4 footer-social-networks">
                    <div class="light-box">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fidealeware&tabs=timeline&width=340&height=220&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                            width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
                        </iframe>
                    </div>

                    <!--<ul class="list-inline">
                        <li class="footer-twitter"><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="footer-youtube"><a href="#" title="You Tube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li class="footer-instagram"><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class="footer-pinterest"><a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Footer -->

    <!-- Footer secundário -->
    <div id="secondary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" *ngIf="methods.length > 0">
                    <div id="payment-flags">
                        <h3 class="title">Pague com</h3>
                        <ul class="list-inline">
                            <li *ngFor="let method of methods"><img [attr.src]="'assets/images/' + method.icon" [attr.alt]="method.name"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="security-seal">
                        <h3 class="title">Certificados</h3>
                        <ul class="list-inline">
                            <span id="ss_img_wrapper_115-55_image_en">
                                <a href="http://www.alphassl.com/ssl-certificates/wildcard-ssl.html" target="_blank" title="SSL Certificates">
                                    <img alt="Wildcard SSL Certificates" border=0 id="ss_img" src="//seal.alphassl.com/SiteSeal/images/alpha_noscript_115-55_en.gif" title="SSL Certificate">
                                </a>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer secundário -->

    <div id="copyright">
        <div class="container text-center">
            <div class="items-copyright">

                <p>© {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados.</p>
                <p>CNPJ: {{store.cnpj}} / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2)
                    ? ' - ' + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}</p>

                <div class="signature">
                    Tecnologia:
                    <a href="http://www.idealeware.com.br" title="Ideal Ware" target="_blank">
                        <img src="/assets/images/signature.png" alt="Ideal Ware" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Conteúdo do rodapé -->

<footer *ngIf="isMobile()" id="footer">
    <newsletter></newsletter>

    <div id="main-footer" class="container">

        <div class="row">
            <div class="list-footer footer-institutional" *ngFor="let institutional of institutionals">
                <a [routerLink]="['/institucional/' + institutional.id + '/' + institutional.niceName]" [attr.title]="institutional.title"
                    data-id="#footer-institucional" class="title btn-open-content">{{institutional.title}}</a>
            </div>
        </div>

        <div class="footer-social-networks">
            <ul class="list-inline">
                <li class="footer-twitter"><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="footer-youtube"><a href="#" title="You Tube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li class="footer-instagram"><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="footer-pinterest"><a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /Main Footer -->

    <!-- Footer secundário -->
    <div id="secondary-footer" class="container">
        <div *ngIf="methods.length > 0" id="payment-flags" class="text-center">
            <h3 class="title">Pague com</h3>
            <ul class="list-inline">
                <li *ngFor="let method of methods"><img [attr.src]="mediapath + '/payments/' + method.icon" [attr.alt]="method.name"></li>
            </ul>
        </div>
        <div id="security-seal" class="text-center">
            <h3 class="title">Certificados</h3>
            <span id="ss_img_wrapper_115-55_image_en">
                <a href="http://www.alphassl.com/ssl-certificates/wildcard-ssl.html" target="_blank" title="SSL Certificates">
                    <img alt="Wildcard SSL Certificates" border=0 id="ss_img" src="//seal.alphassl.com/SiteSeal/images/alpha_noscript_115-55_en.gif" title="SSL Certificate">
                </a>
            </span>
        </div>
    </div>
    <!-- /Footer secundário -->

    <div id="copyright" class="container text-center">
        <div class="items-copyright">
            <p>
                &copy; {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados. <br/> CNPJ: {{store.cnpj}}
                / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2) ? ' - '
                + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}
            </p>
            <div class="signature">
                Tecnologia:
                <a href="http://www.idealeware.com.br" title="Idealware" target="_blank">
                    <img src="/assets/images/signature.png" alt="Idealware" />
                </a>
            </div>
        </div>
    </div>

</footer>

<div id="zipcodeModal" style="display: none;">
    <div class="mask"></div>
    <div class="zipcodeModal-content">
        <h1 class="text-primary">Informe seu CEP</h1>
        <p>Para melhor atendermos, informe abaixo o seu CEP</p>
        <form (submit)="setZipCode($event)" class="form-inline">
            <div class="form-group">
                <input zipcodeMask type="text" name="zipCode" [(ngModel)]="zipCode" class="form-control" maxlength="9">
                <span class="text-danger" *ngIf="messageZipCode">{{messageZipCode}}</span>
            </div>
            <button type="submit" class="btn btn-primary zipcode-enter">Enviar</button>
        </form>
    </div>
</div>
<popup></popup>