<!-- Header Checkout -->
<header id="header-checkout" *ngIf="isCheckout()">
    <div class="container">
        <div class="clearfix">
            <div class="web-safe pull-right">
                <span><i class="fa fa-lock" aria-hidden="true"></i> Compra 100% segura</span>
            </div>
            <div class="contact pull-left">
                <span><i class="fa fa-phone" aria-hidden="true"></i> Televendas {{store.phone}}</span>
            </div>
            <div class="brand overflow-hidden text-center">
                <a [routerLink]="['/']"><img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive"></a>
            </div>
        </div>
    </div>
</header>
<!-- Header Checkout -->

<!-- Header principal -->
<header id="header" *ngIf="isCheckout() == false && !isMobile()">
    <nav class="nav-top navbar navbar-default">
        <div class="container">
            <div class="pull-left">
                <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i> Televendas <b>{{store.phone}}</b></span>
            </div>
            <div class="pull-right">
                <div class="information-nav">
                    <ul class="list-inline">
                        <!--<li>
                            <a href="#" title="Central de Atendimento">Central de Atendimento</a>
                        </li>-->
                        <li>
                            <a [routerLink]="['/conta/home']" title="Minha Conta">Minha Conta</a>
                        </li>
                        <li>
                            <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos">Meus Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-bar">
        <div class="container">
            <div class="row">
                <div class="col-mini-cart pull-right col-padding">
                    <mini-cart>

                    </mini-cart>
                </div>
                <div class="col-brand pull-left col-padding">
                    <h1 id="brand" *ngIf="store">
                        <a [routerLink]="['/']" [attr.title]="store.companyName">
                            <b class="sr-only">{{store.companyName}}</b>
                            <img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive">
                        </a>
                    </h1>
                </div>
                <div class="col-welcome pull-left col-padding">
                    <div id="welcome" *ngIf="!isLoggedIn()">
                        <p>
                            Olá, Visitante <br/>
                            <a class="login-enter" [routerLink]="['/login']" title="Entre">Entre</a> ou <a class="about-us"
                                [routerLink]="['/login/cadastro']" title="Cadastre-se">Cadastre-se</a>
                        </p>
                    </div>
                    <div id="welcome" *ngIf="isLoggedIn()">
                        <p>
                            Olá, {{customer.firstname_Companyname}} <br/>
                            <a class="login-enter" [routerLink]="['/logout']" title="Sair">Sair</a>
                        </p>
                    </div>
                </div>
                <div class="col-search overflow-hidden col-padding">
                    <search-form></search-form>
                </div>

            </div>
        </div>

    </div>

</header>
<!-- Header principal -->
<!-- Menu -->
<nav id="main-nav" *ngIf="isCheckout() == false && !isMobile()">
    <div class="container">
        <div class="border-top">
            <div class="items pull-left">
                <category-menu></category-menu>
            </div>
            <!-->
            <div id="big-sale" class="pull-right">
                <a href="#" class="" title="Super Oferta">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="name-sale">Super Oferta</span>
                </a>
            </div>
            <!-->
            <!--<vehicle></vehicle>-->
        </div>
    </div>
</nav>

<!-- /Menu -->

<!-- Mobile -->

<header id="header" class="header-mobile container" *ngIf="isMobile()">
    <div class="col-cart-search pull-right">
      

        <search-form></search-form>
        <mini-cart></mini-cart>
         
    </div>
    <div class="col-nav pull-left">
        <button class="btn btn-nav">
            <img src="/assets/images/icon-nav.svg" alt="Navegue" />
        </button>
    </div>
    <div class="col-brand overflow-hidden">
        <h1 id="brand">
            <a [routerLink]="['/']" [attr.title]="store.companyName">
                <b class="sr-only">{{store.companyName}}</b>
                <img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive">
            </a>
        </h1>
    </div>
     <!--Search/veicle-->
        <!--<vehicle></vehicle>-->
</header>
<!-- Header principal -->
<!-- Menu -->
<nav id="nav" style="display: none;" *ngIf="isMobile()">
    <div class="mask"></div>
    <div class="content">
        <div class="header clearfix" *ngIf="!isLoggedIn()">
            <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            <p>
                <a class="login-enter" [routerLink]="['/login']" title="Entre">Entre</a> ou <a class="about-us" [routerLink]="['/login/cadastro']"
                    title="Cadastre-se">Cadastre-se</a>
            </p>
        </div>
        <div class="header clearfix" *ngIf="isLoggedIn()">
            <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            <p>
                Olá, {{customer.firstname_Companyname}} | <a class="login-enter" [routerLink]="['/conta', 'home']" title="Minha Conta">Minha Conta</a>                (
                <a class="login-enter" [routerLink]="['/logout']" title="Sair">Sair</a>)
            </p>
        </div>
        <category-menu></category-menu>
       
        
    </div>
</nav>
<!-- /Menu -->