<div class="form-payment" *ngIf="payment">
    <ul class="list-unstyled">
        <li *ngFor="let method of payment.paymentMethods">
            <a (click)="selectMethod($event, method)" href="#" [attr.title]="'Selecione ' + method.name + ' como método de pagamento'">
                <i class="fa" [ngClass]="{'fa-square-o': methodSelected.id != method.id, 'fa-check-square-o': methodSelected.id == method.id}"></i>
                {{method.name}}
            </a>

        </li>
    </ul>
    
</div>
