<div id="selecao-de-cores" class="selecao-de-cores monte">
    <div class="content_wrapper">
        <div id="iw-picker" >
            <ul class="nav nav-pills" >
                <li><a href="javascript:void(0)" data-familia="#off-whites">Off-Whites</a></li>
                <li><a href="javascript:void(0)" data-familia="#tons-pastel">Tons Pastel</a></li>
                <li><a href="javascript:void(0)" data-familia="#vermelhos">Vermelhos</a></li>
                <li><a href="javascript:void(0)" data-familia="#laranjas">Laranjas</a></li>
                <li><a href="javascript:void(0)" data-familia="#amarelos">Amarelos</a></li>
                <li><a href="javascript:void(0)" data-familia="#verdes">Verdes</a></li>
                <li><a href="javascript:void(0)" data-familia="#azuis">Azuis</a></li>
                <li><a href="javascript:void(0)" data-familia="#violetas">Violetas</a></li>
                <li><a href="javascript:void(0)" data-familia="#marrons-e-neutros">Marrons e Neutros</a></li>
            </ul>
        </div>
    </div>
    <div id="slider_familias" *ngIf="families[0].colors.length > 0">
        <div class="cores_container row-fluid table-responsive">
            <div *ngFor="let family of families" [attr.id]="family.name">
                <div *ngFor="let color of family.colors" attr>
                    <div>
                        <a href="javascript:void(0)" [style.background-color]="'#' + color.hex" [attr.data-codigo]="color.code" [attr.data-nome]="color.name" [attr.data-hex]="color.hex">
                            <span class="tooltip-box">
                                <span class="tooltip-titulo">
                                    <span class="d">Clique para selecionar esta cor</span>
                                    <span class="m">Cor selecionada</span>
                                </span>
                                <span class="tooltip-info-cor">
                                    <span class="cor" [style.background-color]="'#' + color.hex"></span>
                                    <span class="texto">
                                        {{color.name}}<br>
                                        <span class="codigo">{{color.code}}</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>