<ul class="nav navbar-nav">
    <li class="hidden-md hidden-lg" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" title="Entre">Entre / Cadastrar</a>
    </li>
    <li class="hidden-lg hidden-md" *ngIf="isLoggedIn">
        <a [routerLink]="['/conta/home']" title="Minha Conta">Minha Conta</a>
    </li>
    <li class="hidden-lg hidden-md" *ngIf="isLoggedIn">
        <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos">Meus Pedidos</a>
    </li>

    <li role="separator" class="divider hidden-md hidden-lg"></li>

    <li *ngFor="let category of categories" [ngClass]="{'dropdown': category.children.length > 0}">
        <a href="javascript:void(0)" (click)="goRoute(category)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">
            <span *ngIf="category.picture" class="icon hidden-xs">
                <img [attr.src]="getPictureCategory(category)" [attr.alt]="category.name">
            </span>
            {{category.name}}
            <span *ngIf="category.children.length > 0" class="caret hidden-md hidden-lg"></span>
        </a>
        <ul *ngIf="category.children.length > 0" class="dropdown-menu">
            <li *ngFor="let sub1 of category.children" [ngClass]="{'dropdown': sub1.children.length > 0}">
                <a href="javascript:void(0)" (click)="goRoute(sub1)" [attr.title]="sub1.name">{{sub1.name}}</a>
                <ul *ngIf="sub1.children.length > 0" class="dropdown-menu">
                    <li *ngFor="let sub2 of sub1.children" [ngClass]="{'dropdown': sub1.children.length > 0}">
                        <a href="javascript:void(0)" (click)="goRoute(sub2)" [attr.title]="sub2.name">{{sub2.name}}</a>
                        <ul *ngIf="sub2.children.length > 0" class="dropdown-menu">
                            <li *ngFor="let sub3 of sub2.children">
                                <a [routerLink]="[getRoute(sub3)]" [attr.title]="sub3.name">{{sub3.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>


    <li>
        <group class=""></group>
    </li>

</ul>