#footer-checkout {
  border-top: 1px solid #F3F3F3;
  padding: 20px 0;
  background: #fff;
  p {
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
  }
  .signature {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    line-height: 38px;
  }
}