#navGroups {
  margin: 0px!important;
  a{
    background-color: transparent !important;
    font-size: 14px !important;
    color: #999999 !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    margin: 0px!important;
    padding: 10px!important;
  }
}

#navGroupsTitle {
  padding: 0px!important;
}
