.row-order-by .order-by label {
  font-size: 13px;
  color: #999999;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  select {
    border-radius: 0;
    margin-right: 15px;
    height: 40px;
  }

}