
#zipcodeModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
  .zipcodeModal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 405px;
    height: 200px;
    max-width: 90%;
    margin: -202px 0 0 -150px;
    z-index: 50;
    background: #FAFAFA;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.24);
    padding: 25px;
    button {
      transition: all 0.3s linear 0.1s;
    }
  }
  label {
    font-size: 15px;
    color: #999999;
    line-height: 18px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
  }

}

@media (max-width: 767px) {
  #zipcodeModal {
    display: none!important;
  }
}