<main role="main" >
    <div class="custom-paint-page-details">
        <div class="container">
            <ul class="row">
                <div *ngFor="let manufacturer of manufacturers" [ngClass]="getColWidth()" role="presentation">
                    <a [routerLink]="['/corespersonalizadas', manufacturer.manufacturer]">
                        <img [attr.src]="getManufacturerPicture(manufacturer)" [attr.alt]="manufacturer.name" class="img-responsive center-block">
                        <div class="text-center">
                            {{manufacturer.name}}
                        </div>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</main>