<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <p class="center-vertical-text">
                    Calcular frete e prazo
                </p>
            </div>
            <div class="col-md-4">
                <form (submit)="calculate($event)">
                    <div class="input-box overflow-hidden">
                        <input class="form-control input-lg" type="text" name="zipCode" id="zipCode" [(ngModel)]="zipCode" maxlength="9" zipcodeMask
                            placeholder="_____-___" (input)="inputShipping($event)">
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <div class="pull-left center-vertical-text" *ngIf="loading">
                    <app-wait-loader [small]="true"></app-wait-loader>
                </div>
            </div>
            <div class="col-md-3">
                <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank" class="pull-left">Não sei meu CEP</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div *ngIf="deliveryOptions.length > 0">
            <div class="row" *ngFor="let option of deliveryOptions">
                <hr>
                <div class="col-md-12">
                    <span>{{option.delivery_method_name}}: </span>
                    <span>
                        <strong>
                            até {{option.delivery_estimate_business_days}} dias úteis -
                            <span *ngIf="option.final_shipping_cost == 0">Frete Grátis</span>
                            <span *ngIf="option.final_shipping_cost != 0">{{option.final_shipping_cost | currencyFormat }}</span>
                        </strong>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="branches.length > 0">
            <div class="row" *ngFor="let option of branches">
                <hr>
                <div class="col-md-12">
                    <strong>Retirar na Loja - </strong>{{option.addressLine1}}, {{option.number}} {{option.addressline2}} {{option.city}}/{{option.state}}
                </div>
            </div>
        </div>
    </div>
</div>