.checkout-page {
  padding-top: 60px;
  padding-bottom: 60px;
  .checkout-title {
    padding-bottom: 20px;
    .page-title {
      line-height: 40px;
    }
    .btn-checkout {
      margin: 15px 0 15px 10px;
    }
  }
  .table-checkout{
    td {
      padding: 10px 15px;
    }
    thead td {
      background: #F3F3F3;
      font-size: 16px;
      color: #757575;
      line-height: 18px;
      font-weight: 400;
    }
    tbody td {
      border: 0 none;
      border-bottom: 1px solid #D9D9D9;
      padding: 15px;
      vertical-align: middle;
      .name {
        display: block;
        font-size: 16px;
        color: #757575;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 10px;
      }

    }

  }
}

.sku,
.variations {
  display: block;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

.qty-box {
  position: relative;
  display: block;
  width: 55px;
  margin: 0 auto;
  input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    font-size: 12px;
    color: #757575;
    width: 100%;
    height: 33px;
    padding: 0 0px;
    text-align: center;
  }
  button {
    background: transparent;
    font-size: 15px;
    color: #999999;
    height: 33px;
    width: 15px;
    border: 0 none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    &:hover {
      color: #69C900;
    }

    &.btn-less {
      left: 0;
    }

    &.btn-more {
      right: 0;
    }
  }

  .old-price {
    font-size: 12px;
    color: #999999;
    line-height: 16px;
    font-weight: 400;
    text-decoration: line-through;
    display: block;
  }

  .regular-price,
  .total-price {
    font-size: 15px;
    color: #000000;
    line-height: 20px;
    font-weight: 500;
    display: block;
  }

  .btn-remove {
    color: #757575;
    font-size: 15px;
    &:hover {
      color: #E41919;
    }
  }
}


.checkout-page .checkout-total {
  padding-top: 40px;
  form{
    label {
      font-size: 16px;
      color: #757575;
      line-height: 18px;
      display: block;
      margin-bottom: 15px;
      font-weight: 400;
    }
    input {
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      font-size: 14px;
      color: #999999;
      padding: 0 15px;
      height: 50px;
      width: 100%;
      &:focus {
        border-color: #b3b3b3;
      }

    }
    .input-box {
      position: relative;
      display: block;
    }
  }

  .discount-coupon-box {
    padding-bottom: 50px;
    max-width: 360px;
    input {
      padding-right: 65px;
    }
    .btn-send {
      background: transparent;
      border: 0 none;
      width: 50px;
      height: 50px;
      padding: 0;
      color: #757575;
      position: absolute;
      right: 0;
      top: 0;
    }
    .btn-send:hover {
      color: #4f4f4f;
    }

    .coupon-list {
      list-style: none;
      padding: 15px 0 0;
      margin: 0;
      .coupon-item {
        position: relative;
        span {
          font-size: 14px;
          color: #757575;
          line-height: 18px;
          font-weight: 400;
        }
        strong {
          font-size: 14px;
          color: #69C900;
          line-height: 18px;
          font-weight: 400;
        }
        a {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -9px;
          font-size: 12px;
          color: #999999;
          line-height: 18px;
          text-decoration: underline;
        }
        &:hover {
          color: #111;
        }
      }
    }
  }


}


.shipping-box {
  max-width: 410px;
  .shipping-form a {
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    text-decoration: underline;
    line-height: 15px;
    max-width: 70px;
    margin-left: 15px;
    padding: 10px 0;
    &:hover {
      color: #111;
    }
  }
  input {
    padding-right: 65px;
  }
  .btn-send {
    position: absolute;
    right: 5px;
    top: 8px;
    border: 0 none;
    border-left: 1px solid #D9D9D9;
    width: 40px;
    height: 35px;
    padding: 0;
    background: transparent;
    font-size: 14px;
    color: #757575;
    line-height: 15px;
    &:hover {
      color: #4f4f4f;
    }
  }


  .shipping-box .shipping-list {
    list-style: none;
    padding: 15px 0 0;
    margin: 0;
    .shipping-item {
      position: relative;
      &> span {
        border-right: 1px solid #757575;
        padding-right: 5px;
      }

      &> span,
      &> strong {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        color: #757575;
        line-height: 18px;
        font-weight: 400;
      }
      a {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
        font-size: 12px;
        color: #999999;
        line-height: 18px;
        text-decoration: underline;
        &:hover {
          color: #111;
        }
      }
    }
  }

  .total-box table {
    width: 100%;
    background: #F3F3F3;
    margin-bottom: 20px;
    tbody tr:first-child td {
      padding-top: 20px;
    }
    tbody tr:last-child td {
      padding-bottom: 20px;
    }
    td {
      padding: 10px 25px;
      span,
      strong {
        font-size: 16px;
        color: #757575;
        line-height: 20px;
        font-weight: 400;
      }
    }


    .subtotal strong {
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      font-weight: 500;
    }

    .descont strong {
      font-size: 16px;
      color: #69C900;
      line-height: 20px;
      font-weight: 500;
    }

    th {
      padding: 24px 25px;
      border-top: 1px solid #D9D9D9;
      span {
        font-size: 16px;
        color: #000000;
        line-height: 20px;
        font-weight: 400;
      }
      strong {
        font-size: 18px;
        color: #000000;
        line-height: 20px;
        font-weight: 500;
      }
    }
  }
  .total-box .btn {
    margin-bottom: 15px;
  }
}



