<main role="main" class="container user-panel-page">
    <h3>Recuperar Senha</h3>
    <div class="forgot-password">
        <form [formGroup]="forgotForm" (submit)="getForgotPasswordToken()">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <span class="control-label" for="email">Email *</span>
                        <input formControlName="email" type="email" id="email" class="form-control" placeholder="joão@email.com.br" />
                        <small class="text-danger" *ngIf="forgotForm.get('email').errors?.required">Email obrigatório</small>
                        <small class="text-danger" *ngIf="forgotForm.get('email').errors?.email">Email inválido</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <span class="control-label" for="emailConfirm">Confirmar Email *</span>
                        <input formControlName="confirmEmail" type="email" id="emailConfirm" class="form-control" placeholder="joão@email.com.br"
                        />
                        <small class="text-danger" *ngIf="validateEquals()">Confirmação do email inválida</small>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <button [disabled]="invalidForgotForm()" id="btnEnviar" type="submit" data-loading-text="Enviando..." class="btn btn-lg btn-primary btn-block">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>