<h2>{{((isEdit) ? 'Editar endereço' : 'Adicionar novo endereço')}}</h2>

<form class="form-horizontal" [formGroup]="myForm" (submit)="validadeSubmit($event)">
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('addressType')}">
            <label for="addressType" class="col-sm-2 control-label">Tipo de Endereço</label>
            <div class="col-sm-10">
                <select class="form-control" formControlName="addressType" [(ngModel)]="address.addressType" required>
                    <option *ngFor="let type of addressTypes" [value]="type.value">{{type.label}}</option>
                </select>
                <span *ngIf="hasError('addressType')" class="help-block">O campo é obrigatório</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('addressName')}">
            <label for="addressName" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="addressName" [(ngModel)]="address.addressName" required>
                <span *ngIf="hasError('addressName')" class="help-block">O campo é obrigatório</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('zipCode')}">
            <label for="zipCode" class="col-md-2 col-sm-12 control-label">CEP</label>
            <div class="col-md-8 col-sm-12">
                <input maxlength="9" (change)="getDne($event)" type="text" formControlName="zipCode" [(ngModel)]="address.zipCode" class="form-control"
                    id="address-cep" placeholder="00000-000" zipcodeMask required>
                <span *ngIf="hasError('zipCode')" class="help-block">O campo é obrigatório</span>
            </div>
            <div class="col-md-2 col-sm-12">
                <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm" target="_blank" class="help-cep">
                    Não sei meu CEP
                </a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('addressLine1')}">
            <label for="addressLine1" class="col-sm-2 control-label">Endereço</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="addressLine1" [(ngModel)]="address.addressLine1" required>
                <span *ngIf="hasError('addressLine1')" class="help-block">O campo é obrigatório</span>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group required"  [ngClass]="{'has-error': hasError('number')}">
            <label for="number" class="col-sm-2 control-label">Numero</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="number" [(ngModel)]="address.number">
                <span *ngIf="hasError('number')" class="help-block">O campo é obrigatório</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="addressLine2" class="col-sm-2 control-label">Complemento</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="addressLine2" [(ngModel)]="address.addressLine2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('district')}">
            <label for="district" class="col-sm-2 control-label">Bairro</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="district" [(ngModel)]="address.district" required>
                <span *ngIf="hasError('district')" class="help-block">O campo é obrigatório</span>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="landmark" class="col-sm-2 control-label">Ponto de referência</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="landmark" [(ngModel)]="address.landmark">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('state')}">
            <label for="state" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-4">
                <select class="form-control" formControlName="state" [(ngModel)]="address.state" required>
                    <option>Selecione</option>
                    <option *ngFor="let state of states" [value]="state.value">{{state.label}}</option>
                </select>
                <span *ngIf="hasError('state')" class="help-block">O campo é obrigatório</span>
            </div>       
        </div>
    </div>
    <div class="row">
        <div class="form-group required" [ngClass]="{'has-error': hasError('city')}">
            <label for="city" class="col-sm-2 control-label">Cidade</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="city" [(ngModel)]="address.city" required>
                <span *ngIf="hasError('city')" class="help-block">O campo é obrigatório</span>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-5">
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox"> Selecionar como principal
                    </label>
                </div>-->
            </div>
            <div class="col-sm-7 text-right">
                <a [routerLink]="['/conta/enderecos']" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</form>