<ng-progress [color]="'#333333'"></ng-progress>
<!-- Header Checkout -->
<header id="header-checkout" *ngIf="isCheckout() && store">
    <div class="container">
        <div class="clearfix">
            <div class="web-safe pull-right">
                <span><i class="fa fa-lock" aria-hidden="true"></i> Compra 100% segura</span>
            </div>
            <div class="contact pull-left">
                <span><i class="fa fa-phone" aria-hidden="true"></i> Televendas {{store.phone}}</span>
            </div>
            <div class="brand overflow-hidden text-center">
                <a [routerLink]="['/']"><img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive"></a>
            </div>
        </div>
    </div>
</header>
<!-- Header Checkout -->

<!-- Header principal -->
<header id="header" *ngIf="isCheckout() == false && !isMobile() && store">
    <nav class="nav-top navbar navbar-default">
        <div class="container">
            <div class="pull-left">
                <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i> Televendas <b>{{store.phone}}</b></span>
            </div>
            <div class="pull-right">
                <div class="information-nav">
                    <ul class="list-inline">
                        <li>
                            <a [routerLink]="['/contato']" title="Central de Atendimento">Central de Atendimento</a>
                        </li>
                        <li>
                            <a [routerLink]="['/conta/home']" title="Minha Conta">Minha Conta</a>
                        </li>
                        <li>
                            <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos">Meus Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-bar">
        <div class="container">
            <div class="row">
                <div class="col-mini-cart pull-right col-padding">
                    <mini-cart>

                    </mini-cart>
                </div>
                <div class="col-brand pull-left col-padding">
                    <h1 id="brand" *ngIf="store">
                        <a [routerLink]="['/']" [attr.title]="store.companyName">
                            <b class="sr-only">{{store.companyName}}</b>
                            <img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive">
                        </a>
                    </h1>
                </div>
                <div class="col-welcome pull-left col-padding">
                    <div id="welcome" *ngIf="!isLoggedIn()">
                        <p>
                            Olá, Visitante <br/>
                            <a class="login-enter" [routerLink]="['/login']" title="Entre">Entre</a> ou <a class="about-us"
                                [routerLink]="['/login/cadastro']" title="Cadastre-se">Cadastre-se</a>
                        </p>
                    </div>
                    <div id="welcome" *ngIf="isLoggedIn()">
                        <p>
                            Olá, {{customer.firstname_Companyname}} <br/>
                            <a class="login-enter" [routerLink]="['/logout']" title="Sair">Sair</a>
                        </p>
                    </div>
                </div>
                <div class="col-search overflow-hidden col-padding">
                    <search-form></search-form>
                </div>

            </div>
        </div>

    </div>

</header>
<!-- Header principal -->
<!-- Menu -->
<nav id="main-nav" *ngIf="isCheckout() == false && !isMobile()">
    <div class="container">
        <div class="border-top">
            <div class="items pull-left">
                <category-menu></category-menu>
            </div>
            <!-->
            <div id="big-sale" class="pull-right">
                <a href="#" class="" title="Super Oferta">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="name-sale">Super Oferta</span>
                </a>
            </div>
            <!-->
            <!--<vehicle></vehicle>-->
        </div>
    </div>
</nav>

<!-- /Menu -->

<!-- Mobile -->

<header id="header" class="header-mobile container" *ngIf="isMobile() && store">
    <div class="col-cart-search pull-right">
      

        <search-form></search-form>
        <mini-cart></mini-cart>
         
    </div>
    <div class="col-nav pull-left">
        <button class="btn btn-nav">
            <img src="/assets/images/icon-nav.svg" alt="Navegue" />
        </button>
    </div>
    <div class="col-brand overflow-hidden">
        <h1 id="brand">
            <a [routerLink]="['/']" [attr.title]="store.companyName">
                <b class="sr-only">{{store.companyName}}</b>
                <img [attr.src]="mediaPath + '/' + store.logo" [attr.alt]="store.companyName" class="img-responsive">
            </a>
        </h1>
    </div>
     <!--Search/veicle-->
        <!--<vehicle></vehicle>-->
</header>
<!-- Header principal -->
<!-- Menu -->
<nav id="nav" style="display: none;" *ngIf="isMobile() && store">
    <div class="mask"></div>
    <div class="content">
        <div class="header clearfix" *ngIf="!isLoggedIn()">
            <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            <p>
                <a class="login-enter" [routerLink]="['/login']" title="Entre">Entre</a> ou <a class="about-us" [routerLink]="['/login/cadastro']"
                    title="Cadastre-se">Cadastre-se</a>
            </p>
        </div>
        <div class="header clearfix" *ngIf="isLoggedIn()">
            <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            <p>
                Olá, {{customer.firstname_Companyname}} | <a class="login-enter" [routerLink]="['/conta', 'home']" title="Minha Conta">Minha Conta</a>                (
                <a class="login-enter" [routerLink]="['/logout']" title="Sair">Sair</a>)
            </p>
        </div>
        <category-menu></category-menu>
       
        
    </div>
</nav>
<!-- /Menu -->
<router-outlet>
</router-outlet>
<!-- Conteúdo do rodapé -->

<footer id="footer-checkout" *ngIf="isCheckout() && !isMobile() && store">
    <div class="container">
        <div class="row">
            <div class="copy-right col-xs-12 col-md-9">
                <p>© {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados.</p>
                <p>CNPJ: {{store.cnpj}} / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2)
                    ? ' - ' + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}</p>
            </div>
            <div class="signature col-xs-12 col-md-3 text-right">
                Tecnologia:
                <a href="#" title="Idealeware" target="_blank">
                    <img src="/assets/images/signature.png" alt="Idealeware" />
                </a>
            </div>
        </div>
    </div>
</footer>

<footer id="footer" *ngIf="isCheckout() == false && !isMobile() && store">
    <!-- Newsletter -->
    <newsletter></newsletter>
    <!-- /Newsletter -->

    <!-- Main Footer -->
    <div id="main-footer">
        <div class="container">
            <div class="row">
                <div class="list-footer col-xs-6 col-md-2 footer-institutional">
                    <h3 class="title">Institucional</h3>
                    <ul>
                        <li *ngFor="let institutional of institutionals"><a [routerLink]="['/institucional/' + institutional.id + '/' + institutional.niceName]" [attr.title]="institutional.title">{{institutional.title}}</a></li>
                    </ul>
                </div>
                <div class="list-footer col-xs-6 col-md-3 footer-help">
                    <img *ngIf="paymentName == 'pagseguro'" src="/assets/images/bandeiras-pagseguro.jpg" alt="PagSeguro">
                </div>
                <div class="col-xs-12 visible-xs visible-sm">
                    <hr>
                </div>
                <div class="list-footer col-xs-6 col-md-3 footer-call-center">
                    <h3 class="title">Central de Atendimento</h3>
                    <ul>
                        <li><span>Televendas <b class="phone">{{store.phone}}</b></span></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-4 footer-social-networks">
                    <div class="light-box">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fidealeware&tabs=timeline&width=340&height=220&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                            width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Footer -->

    <!-- Footer secundário -->
    <div id="secondary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" *ngIf="methods.length > 0">
                    <div id="payment-flags">
                        <h3 class="title">Pague com</h3>
                        <ul class="list-inline">
                            <li *ngFor="let method of methods"><img [attr.src]="'assets/images/' + method.icon" [attr.alt]="method.name"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="security-seal">
                        <h3 class="title">Certificados</h3>
                        <ul class="list-inline">
                            <span id="ss_img_wrapper_115-55_image_en">
                                <a href="http://www.alphassl.com/ssl-certificates/wildcard-ssl.html" target="_blank" title="SSL Certificates">
                                    <img alt="Wildcard SSL Certificates" border=0 id="ss_img" src="//seal.alphassl.com/SiteSeal/images/alpha_noscript_115-55_en.gif" title="SSL Certificate">
                                </a>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer secundário -->

    <div id="copyright">
        <div class="container text-center">
            <div class="items-copyright">

                <p>© {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados.</p>
                <p>CNPJ: {{store.cnpj}} / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2)
                    ? ' - ' + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}</p>

                <div class="signature">
                    Tecnologia:
                    <a href="http://www.idealeware.com.br" title="Ideal Ware" target="_blank">
                        <img src="/assets/images/signature.png" alt="Ideal Ware" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Conteúdo do rodapé -->

<footer *ngIf="isMobile() && store" id="footer">
    <newsletter></newsletter>

    <div id="main-footer" class="container">

        <div class="row">
            <div class="list-footer footer-institutional" *ngFor="let institutional of institutionals">
                <a [routerLink]="['/institucional/' + institutional.id + '/' + institutional.niceName]" [attr.title]="institutional.title"
                    data-id="#footer-institucional" class="title btn-open-content">{{institutional.title}}</a>
            </div>
        </div>

        <div class="footer-social-networks">
            <div class="light-box">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fidealeware&tabs=timeline&width=340&height=220&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                    width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
                </iframe>
            </div>
        </div>
    </div>
    <!-- /Main Footer -->

    <!-- Footer secundário -->
    <div id="secondary-footer" class="container">
        <div *ngIf="methods.length > 0" id="payment-flags" class="text-center">
            <h3 class="title">Pague com</h3>
            <ul class="list-inline">
                <li *ngFor="let method of methods"><img [attr.src]="mediapath + '/payments/' + method.icon" [attr.alt]="method.name"></li>
            </ul>
        </div>
        <div id="security-seal" class="text-center">
            <h3 class="title">Certificados</h3>
            <span id="ss_img_wrapper_115-55_image_en">
                <a href="http://www.alphassl.com/ssl-certificates/wildcard-ssl.html" target="_blank" title="SSL Certificates">
                    <img alt="Wildcard SSL Certificates" border=0 id="ss_img" src="//seal.alphassl.com/SiteSeal/images/alpha_noscript_115-55_en.gif" title="SSL Certificate">
                </a>
            </span>
        </div>
    </div>
    <!-- /Footer secundário -->

    <div id="copyright" class="container text-center">
        <div class="items-copyright">
            <p>
                &copy; {{ date | date:'y'}} {{store.tradingName}}. Todos os direitos reservados. <br/> CNPJ: {{store.cnpj}}
                / Inscrição Estadual: {{store.stateRegistration}} - {{store.addressLine1 + ((store.addressLine2) ? ' - '
                + store.addressLine2 : '')}} - {{store.city}}/{{store.state}} - {{store.zipCode}}
            </p>
            <div class="signature">
                Tecnologia:
                <a href="http://www.idealeware.com.br" title="Idealware" target="_blank">
                    <img src="/assets/images/signature.png" alt="Idealware" />
                </a>
            </div>
        </div>
    </div>

</footer>

<div id="zipcodeModal" style="display: none;">
    <div class="mask"></div>
    <div class="zipcodeModal-content">
        <h1 class="text-primary">Informe seu CEP</h1>
        <p>Para melhor atendermos, informe abaixo o seu CEP</p>
        <form (submit)="setZipCode($event)" class="form-inline">
            <div class="form-group">
                <input zipcodeMask type="text" name="zipCode" [(ngModel)]="zipCode" class="form-control" maxlength="9">
                <span class="text-danger" *ngIf="messageZipCode">{{messageZipCode}}</span>
            </div>
            <button type="submit" class="btn btn-primary zipcode-enter">Enviar</button>
        </form>
    </div>
</div>
<popup></popup>