<ul *ngIf="!isMobile()" class="level1 list-inline">
    <li class="level1-item" [attr.id]="'category-' + category.id" *ngFor="let category of categories">
        <a [routerLink]="['/categoria/' + category.id + '/' + category.niceName]" class="level1-link" [attr.title]="category.name">
            <span class="icon"><img *ngIf="category.picture" [attr.src]="mediaPath + category.picture" [attr.alt]="category.name"></span>{{category.name}}
        </a>
        <ul class="level2" *ngIf="category.children.length > 0">
            <li *ngFor="let sub1 of category.children" class="level2-item">
                <a class="level2-link" [routerLink]="['/categoria', category.id, sub1.niceName, { categories: sub1.id }]" [attr.title]="sub1.name">{{sub1.name}}</a>
            </li>
        </ul>
    </li>
    <li>
        <group></group>
    </li>
</ul>

<ul *ngIf="isMobile()" class="lvl1">
    <li class="lvl1-item" *ngFor="let lvl1 of categories">
        <a [routerLink]="['/categoria/' + lvl1.id + '/' + lvl1.niceName]" class="lvl1-link" *ngIf="lvl1.children.length == 0">{{lvl1.name}}</a>
        <a href="#" class="lvl1-link has-children" *ngIf="lvl1.children.length > 0">{{lvl1.name}}</a>
        <ul class="lvl2" *ngIf="lvl1.children.length > 0">
            <li class="lvl2-header clearfix">
                <button class="btn-back pull-left"><img src="/assets/images/icon-back.svg" alt="Voltar" /></button>
                <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            </li>
            <li class="lvl2-show-all">
                <a [routerLink]="['/categoria/' + lvl1.id + '/' + lvl1.niceName]" class="lvl2-link">Tudo em {{lvl1.name}}</a>
            </li>
            <li class="lvl2-item" *ngFor="let lvl2 of lvl1.children">
                <a [routerLink]="['/categoria/' + lvl2.id + '/' + lvl2.niceName]" class="lvl2-link">{{lvl2.name}}</a>
            </li>
        </ul>
    </li>
    <li>
        <group></group>
    </li>
</ul>