<div id="big-sale" *ngIf="groups.length > 0 && !isMobile()">
    <a href="javascript:void(0)" class="" id="navGroupsTitle" title="Super Oferta">
        <ul class="level1 list-inline">
            <li class="level1-item">
                <a class="" title="Grupos de produtos">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="name-sale">Veja também</span>
                </a>
                <ul class="level2" id="navGroups">
                    <li *ngFor="let group of groups" class="">
                        <a class="" [routerLink]="['/grupo/' + group.id + '/' + group.niceName]" [attr.title]="group.name">{{group.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </a>
</div>

<ul *ngIf="groups.length > 0 && isMobile()" class="lvl1">
    <li class="lvl1-item">
        <a class="lvl1-link has-children">Veja também</a>
        <ul class="lvl2">
            <li class="lvl2-header clearfix">
                <button class="btn-back pull-left"><img src="/assets/images/icon-back.svg" alt="Voltar" /></button>
                <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            </li>
            <li class="lvl2-item" *ngFor="let group of groups">
                <a  [routerLink]="['/grupo/' + group.id + '/' + group.niceName]" class="group.name">{{group.name}}</a>
            </li>
        </ul>
    </li>
</ul>


<!--<ul *ngIf="isMobile()" class="lvl1">
    <li class="lvl1-item" *ngFor="let lvl1 of categories">
        <a [routerLink]="['/categoria/' + lvl1.id + '/' + lvl1.niceName]" class="lvl1-link"  *ngIf="lvl1.children.length == 0">{{lvl1.name}}</a>
        <a href="#" class="lvl1-link has-children"  *ngIf="lvl1.children.length > 0">{{lvl1.name}}</a>
        <ul class="lvl2" *ngIf="lvl1.children.length > 0">
            <li class="lvl2-header clearfix">
                <button class="btn-back pull-left"><img src="/assets/images/icon-back.svg" alt="Voltar" /></button>
                <button class="btn-close pull-right"><img src="/assets/images/icon-close.svg" alt="Fechar" /></button>
            </li>
            <li class="lvl2-show-all">
                <a [routerLink]="['/categoria/' + lvl1.id + '/' + lvl1.niceName]" class="lvl2-link">Tudo em {{lvl1.name}}</a>
            </li>
            <li class="lvl2-item" *ngFor="let lvl2 of lvl1.children">
                <a [routerLink]="['/categoria/' + lvl2.id + '/' + lvl2.niceName]" class="lvl2-link">{{lvl2.name}}</a>
            </li>
        </ul>
    </li>
</ul>-->