<div class="content" *ngIf="payment">
    <div class="radio" *ngFor="let method of availableMethods()">
        <label (click)="selectType(method)">
            <input type="radio" name="payment-method" [attr.id]="'method_' + method.code" [attr.value]="method.code"> {{method.label}}
        </label>
    </div>
    <payment-offline 
        [payments]="getOfflinePayments()" 
        [shipping]="shipping" 
        (paymentUpdated)="handleOfflinePayment($event)">
    </payment-offline>

    <!-- Form Boleto -->
    <div class="form-payment" *ngIf="typeSelected.code == 2">
        <form class="form-horizontal">
            <ul class="payment-options">
                <li *ngFor="let option of typeSelected.options">
                    <a href="#" (click)="selectOption($event, option)" class="btn btn-default" [ngClass]="{'active': optionSelected.code == option.code}" [attr.title]="'Selecione ' + option.displayName + ' como método de pagamento'">
                        <img *ngIf="option.images" [attr.src]="pagseguro_media + option.images.SMALL.path" [attr.alt]="option.displayName">
                        {{option.displayName}}
                    </a>
                </li>
            </ul>
        </form>
    </div>
    <!-- Form Boleto -->
    
    <!-- Form Cartão -->
    <div class="form-payment" *ngIf="typeSelected.code == 1">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="n-cartao" class="col-sm-4 control-label">Nº do Cartão</label>
                <div class="col-sm-8">
                    <input type="text" creditCartMask class="form-control" name="creditCardNumber" [(ngModel)]="creditCard.creditCardNumber" (ngModelChange)="detectCard($event)" placeholder="0000-0000-0000-0000" maxlength="19" required>
                </div>
            </div>
            <div class="form-group">
                <label for="n-parcelas" class="col-sm-4 control-label">Nº do Parcelas</label>
                <div class="col-sm-8">
                    <select class="form-control" name="installmentCount" [(ngModel)]="creditCard.installmentCount">
                        <option *ngIf="installments.length == 0" value="" disabled>Informe um cartão de crédito válido para obter as parcelas</option>
                        <option [value]="installment.quantity" *ngFor="let installment of installments">{{installment.quantity}}x de {{installment.installmentAmount | currencyFormat}} {{(installment.interestFree) ? 'sem juros' : 'com juros'}}
                    </select>
                </div>
            </div>
            <div class="form-group" *ngIf="(installments.length  > 0 && creditCard.installmentCount > 0)">
                <label class="col-sm-4 control-label" >Total à prazo</label>
                <div class="col-sm-8">{{installments[creditCard.installmentCount - 1].totalAmount | currencyFormat}}</div>
            </div>
            <div class="form-group">
                <label for="n-nome" class="col-sm-4 control-label">Seu Nome <small>(como no cartão)</small></label>
                <div class="col-sm-8">
                    <input type="text" [(ngModel)]="creditCard.holderName" class="form-control" name="n-nome" placeholder="" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Vencimento</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <select class="form-control" [(ngModel)]="creditCard.expMonth" name="n-mes" required>
                                <option value="0">Mês</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" [(ngModel)]="creditCard.expYear" class="form-control" name="n-ano" placeholder="2017" maxlength="4" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="n-cod-seguranca" class="col-sm-4 control-label">Código de Segurança</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="n-cod-seguranca" [(ngModel)]="creditCard.securityCode" placeholder="" required>
                </div>
            </div>
        </form>
    </div>
    <!-- Form Cartão -->

    <!-- Payment Offline Form -->
    <payment-offline-panel 
        [payment]="paymentSelected"
        (methodUpdated)="handleMethodUpdated($event)">
    </payment-offline-panel>
    <!-- Payment Offline Form -->

</div>