<div *ngIf="!isMobile()" class="container">
    <div id="main-banner">
        <div class="container">
            <ul class="list-style-none owl-carousel owl-theme">
                <li *ngFor="let banner of banners">
                    <a [attr.href]="(banner.url) ? banner.url : '#'"  target="_blank">
                        <img [attr.src]="mediaPath + banner.fullBanner" [attr.alt]="banner.name" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="isMobile()" id="main-banner">
    <ul class="list-style-none owl-carousel owl-theme">
        <li *ngFor="let banner of banners">
            <a [attr.href]="(banner.url) ? banner.url : '#'" target="_blank">
                <img [attr.src]="mediaPath + banner.fullBanner" [attr.alt]="banner.name" class="img-responsive"/>
            </a>
        </li>
    </ul>
</div>