<div>
    <div class="form-group clearfix">
        <a class="pull-right" href="#" (click)="getSimulation()" data-toggle="modal" data-target="#modal-installments"><i class="fa fa-credit-card" aria-hidden="true"></i> Veja as formas de parcelamento deste produto</a>
    </div>


    <div class="modal fade" id="modal-installments" tabindex="-1" role="dialog" aria-labelledby="modal-installments">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-installments">Formas de Parcelamento</h4>
            </div>
            <div class="modal-body">
                <wait-loader *ngIf="payments.length == 0 && !error"></wait-loader>
                <div *ngIf="payments.length > 0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li *ngFor="let gateway of payments; let i = index" role="presentation" [ngClass]="{'active': isSelected(gateway)}" >
                            <a [attr.href]="'#gateway_' + gateway.id" (click)="selectGateway(gateway)" [attr.aria-controls]="gateway.id" role="tab" data-toggle="tab">
                                {{gateway.name}}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                         <div *ngFor="let gateway of payments; let i = index" role="tabpanel" class="tab-pane" [ngClass]="{'in active': isSelected(gateway)}" [attr.id]="'gateway_' + gateway.id">
                            <wait-loader *ngIf="gateway.paymentMethods.length == 0 && !error"></wait-loader>
                            <div class="installments-simulations" *ngIf="gateway.paymentMethods.length > 0">
                                <ul class="list-group">
                                    <li class="list-group-item active">{{ getMaxInstallment(gateway) }}</li>
                                    <li class="list-group-item" *ngFor="let installment of getInstallments(gateway)">
                                        <span *ngIf="isMundiPagg(gateway)">
                                            em <strong>{{installment.number}}x </strong> de <strong>{{installment.installmentPrice | currencyFormat}} </strong> ({{ installment.description }})
                                        </span>
                                        <span *ngIf="isMercadoPago(gateway)">
                                            {{ installment.description }}
                                        </span>
                                        <span *ngIf="isPagseguro(gateway)">
                                            em <strong>{{installment.number}}x </strong> de <strong>{{installment.installmentPrice | currencyFormat}} </strong> {{ installment.description }} <em>(Total: {{installment.totalPrice | currencyFormat }})</em>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                <div *ngIf="error">
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    <div class="form-group">
                        <a href="#" class="btn btn-primary" (click)="getSimulation($event)">Tentar novamente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    
    
    
</div>
