<div *ngIf="payment">

    <div class="list-group" >
        <a *ngIf="bankslipMethod()" href="" (click)="selectType(bankslipMethod(), $event)" class="list-group-item" [ngClass]="{'active': isBankSlip()}">Boleto</a>
        <a href="" (click)="selectType(creditCardType, $event)" class="list-group-item" [ngClass]="{'active': isCreditCard()}">Cartão de Crédito</a>
    </div>

     <!-- Form Cartão -->
    <div class="form-payment" *ngIf="isCreditCard()">
        <form [formGroup]="creditCardForm" id="mercadoPagoForm" (submit)="sendCard($event)">
            <div class="form-group">
                <ul class="mercado-pago-creditcard-brands">
                    <li *ngFor="let method of creditCardsMethods()">
                        <span class="mercado-pago-creditcard-brand" [ngClass]="{'brand-selected': isBrandSelected(method.id)}">
                            <img class="img-responsive" [attr.src]="method.secure_thumbnail" [attr.title]="method.name" [attr.alt]="method.name">
                        </span>
                    </li>
                </ul>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('cardNumber')}">
                <label for="n-cartao" class="control-label">Nº do Cartão</label>
                <input class="form-control" creditCartMask type="text" id="cardNumber" data-checkout="cardNumber" placeholder="0000-0000-0000-0000"  [(ngModel)]="paymentSelected.creditCard.creditCardNumber" (ngModelChange)="detectCard($event)" maxlength="19" formControlName="cardNumber" required/>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('expMonth') || hasError('expYear')}">
                <label class="control-label">Vencimento</label>
                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="paymentSelected.creditCard.expMonth" formControlName="expMonth" id="cardExpirationMonth" data-checkout="cardExpirationMonth" required>
                            <option value="0">Mês</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="paymentSelected.creditCard.expYear" class="form-control" data-checkout="cardExpirationYear" formControlName="expYear" placeholder="2017" maxlength="4" required>
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('holder')}">
                <label for="n-nome" class="control-label">Seu Nome </label>
                <input type="text" [(ngModel)]="paymentSelected.creditCard.holderName" class="form-control" formControlName="holder" id="cardholderName" data-checkout="cardholderName" placeholder="" required>
                <small class="text-muted">(Exatamente como impresso no cartão)</small>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('cvv')}">
                <label for="n-cod-seguranca" class="control-label">Código de Segurança</label>
                <input type="text" class="form-control" formControlName="cvv" [(ngModel)]="paymentSelected.creditCard.securityCode" placeholder="" id="securityCode" data-checkout="securityCode" required>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('taxId')}">
                <label for="n-cpf" class="control-label">CPF</label>
                <input type="text" class="form-control" formControlName="taxId"  [(ngModel)]="paymentSelected.creditCard.taxId" data-checkout="docNumber" placeholder="Somente números" maxlength="11" required>
                <input type="hidden" data-checkout="docType" value="CPF">
            </div>
            <div class="form-group">
                <label for="n-parcelas" class="control-label">Número do Parcelas</label>
                <select class="form-control" formControlName="installment" [(ngModel)]="paymentSelected.creditCard.installmentCount" (change)="selectInstallment($event)">
                    <option *ngIf="installmentResponse.payer_costs.length == 0" value="" disabled>Informe um cartão de crédito válido para obter as parcelas</option>
                    <option class="form-control" *ngFor="let installment of installmentResponse.payer_costs" [value]="installment.installments">{{installment.recommended_message}}</option>
                </select>
            </div>
        </form>
    </div>
    <!-- Form Cartão -->

</div>