<div class="content" *ngIf="availableMethods().length == 0">
    <wait-loader></wait-loader>
</div>
<div class="content" *ngIf="payment">
    <div class="list-group" >
        <a *ngFor="let method of availableMethods()" href="" (click)="selectType(method, $event)" class="list-group-item" [ngClass]="{'active': isSelected(method)}">
            {{method.label}}
        </a>
    </div>

    <!-- Form Boleto -->
    <div class="form-payment" *ngIf="typeSelected.code == 2">

        <label *ngFor="let option of typeSelected.options" href="#" (click)="selectOption($event, option)" [ngClass]="{'active': optionSelected.code == option.code}"
            [attr.title]="'Selecione ' + option.displayName + ' como método de pagamento'">
            <i class="fa" [ngClass]="{'fa-square-o': optionSelected.code != option.code, 'fa-check-square-o': optionSelected.code == option.code}"></i>

            <img *ngIf="option.images" [attr.src]="pagseguro_media + option.images.SMALL.path" [attr.alt]="option.displayName">
            {{option.displayName}}
        </label>

    </div>
    <!-- Form Boleto -->

    <!-- Form Cartão -->
    <div class="form-payment" *ngIf="typeSelected.code == 1">
        <form class="form-horizontal" [formGroup]="creditCardForm">
            <div class="form-group" [ngClass]="{'has-error': hasError('cardNumber')}">
                <label for="n-cartao" class="control-label">Nº do Cartão</label>
                <input type="text" creditCartMask class="form-control" formControlName="cardNumber" name="creditCardNumber" [(ngModel)]="paymentSelected.creditCard.creditCardNumber" (ngModelChange)="detectCard($event)" placeholder="0000-0000-0000-0000" maxlength="19" required>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('installment')}">
                <label for="n-parcelas" class="control-label">Nº de Parcelas</label>
                <select class="form-control" formControlName="installment" name="installmentCount" [(ngModel)]="paymentSelected.creditCard.installmentCount">
                    <option *ngIf="installments.length == 0" value="" disabled>Informe um cartão de crédito válido para obter as parcelas</option>
                    <option [value]="installment.quantity" *ngFor="let installment of installments">{{installment.quantity}}x de {{installment.installmentAmount | currencyFormat}} {{(installment.interestFree) ? 'sem juros' : 'com juros'}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="(installments.length  > 0 && paymentSelected.creditCard.installmentCount > 0)">
                <label class="col-sm-4 control-label" >Total à prazo</label>
                <div class="col-sm-8">{{installments[paymentSelected.creditCard.installmentCount - 1].totalAmount | currencyFormat}}</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('holder')}">
                <label for="n-nome" class="control-label">Seu Nome <small>(como no cartão)</small></label>
                <input type="text" [(ngModel)]="paymentSelected.creditCard.holderName" class="form-control" formControlName="holder" name="n-nome" placeholder="" required>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('expMonth') || hasError('expYear')}">
                <label class="control-label">Vencimento</label>
                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="paymentSelected.creditCard.expMonth" formControlName="expMonth" name="n-mes" required>
                            <option value="0">Mês</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="paymentSelected.creditCard.expYear" class="form-control" formControlName="expYear" name="n-ano" placeholder="2017" maxlength="4" required>
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('cvv')}">
                <label for="n-cod-seguranca" class="control-label">Código de Segurança</label>
                <input type="text" class="form-control" formControlName="cvv" [(ngModel)]="paymentSelected.creditCard.securityCode" placeholder="" required>
            </div>

            <div class="form-group" [ngClass]="{'has-error': hasError('cpf')}">
                <label for="cpf" class="control-label">CPF do Titular do Cartão</label>
                <input cpfMask type="text" maxlength="14" class="form-control" formControlName="cpf" [(ngModel)]="paymentSelected.creditCard.taxId" required>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('birthDate')}">
                <label for="birthDate" class="control-label">Data de Nascimento do Titular do Cartão</label>
                <input type="date" class="form-control" formControlName="birthDate" [(ngModel)]="paymentSelected.creditCard.birthDate" required>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError('phone')}">
                <label for="phone" class="control-label">Telefone do Titular do Cartão</label>
                <input phoneMask maxlength="15" type="text" class="form-control" formControlName="phone" [(ngModel)]="paymentSelected.creditCard.phone" required>
            </div>
        </form>
    </div>
    <!-- Form Cartão -->
</div>