<div class="shipping-box" *ngIf="!isMobile()">
    <form class="shipping-form" (submit)="calculate($event)">
        <label for="shipping-number">
            Simule o prazo de entrega e o frete para seu CEP abaixo
        </label>
        <div class="clearfix">
            <div class="shipping-loader pull-right" *ngIf="loading">
                <wait-loader [small]="true" ></wait-loader>
            </div>
            <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank" class="pull-right">Não sei meu CEP</a>
            <div class="input-box overflow-hidden">
                <input type="text" name="zipCode" id="zipCode" [(ngModel)]="zipCode" maxlength="9" zipcodeMask placeholder="CEP">
                <button type="submit" class="btn-send">OK</button>
            </div>
        </div>
    </form>
    
    <div class="list-group shipping-list" *ngIf="deliveryOptions.length > 0">
        <a *ngFor="let option of deliveryOptions" (click)="addShippingToCart($event, option)" [ngClass]="{'list-group-item-info': checkOption(option)}" href="" class="list-group-item">
            {{option.delivery_method_name}}
            <strong>até <span class="time">{{option.delivery_estimate_business_days}}</span> dias úteis - <span class="price">{{option.final_shipping_cost | currencyFormat }}</span></strong>
        </a>
    </div>
</div>

<div class="shipping-box" *ngIf="isMobile()">
    <form class="shipping-form" (submit)="calculate($event)">
        <div class="form-group">
            <label for="shipping-number">
                Simule o prazo de entrega e o frete para seu CEP abaixo
            </label>
            <input type="text" class="form-control" name="zipCode" id="zipCode" [(ngModel)]="zipCode" maxlength="9" zipcodeMask placeholder="CEP">
        </div>
        <button type="submit" class="btn btn-default">Calcular Frete</button>
    </form>
    <div class="list-group" *ngIf="deliveryOptions.length > 0">
        <a href="#" *ngFor="let option of deliveryOptions" (click)="addShippingToCart($event, option)" class="list-group-item" [ngClass]="{'list-group-item-info': checkOption(option)}">
            {{option.delivery_method_name}} <strong>até <span class="time">{{option.delivery_estimate_business_days}}</span> dias úteis - <span class="price">{{option.final_shipping_cost | currencyFormat }}</span></strong>
        </a>
    </div>
</div>