<div *ngIf="!isMobile()" class="image-group">
    <div class="image" *ngIf="pictures.length > 0">
        <img id="product-image-zoom" [attr.src]="getPictureUrl(coverImg)" [attr.data-zoom-image]="getFullPictureUrl(coverImg)">
    </div>
    <div class="image" *ngIf="pictures.length == 0">
        <img id="product-image-zoom" src="/assets/images/no-image.jpg">
    </div>
    <ul *ngIf="pictures.length > 0" id="image-thumb">
        <li class="image-thumb-item" *ngFor="let picture of pictures">
            <a href="javascript:void(0)" (click)="setCoverImage(picture, $event)" [attr.data-image]="getPictureUrl(picture)" [attr.data-zoom-image]="getFullPictureUrl(picture)">
                <img [attr.id]="picture.id" [attr.src]="getThumbnailUrl(picture)" class="img-responsive center-block align-middle" />
            </a>
        </li>
    </ul>
</div>

<div *ngIf="isMobile()" class="image-group">
    <div class="image text-center" *ngFor="let picture of pictures">
        <img style="margin:0 auto" [attr.src]="getPictureUrl(picture)" class="img-responsive">
    </div>
</div>