<main role="main" class="container checkout-page" *ngIf="logged">
    <ul class="checkout-tabs" *ngIf="!isMobile()">
        <li class="is-ok">
            <span class="icon"><img src="assets/images/icon-checkout-identificacao.svg" alt=""></span>
            <span class="text">Identificação</span>
        </li>
        <li class="active">
            <span class="icon"><img src="assets/images/icon-checkout-pagamento.svg" alt=""></span>
            <span class="text">Pagamento</span>
        </li>
        <li>
            <span class="icon"><img src="assets/images/icon-checkout-confirmacao.svg" alt=""></span>
            <span class="text">Confirmação</span>
        </li>
    </ul>

    <div class="row checkout-steps" *ngIf="globals.cart && customer">
        <div class="col-xs-12 col-md-4">
            <!-- Coluna Endereços -->
            <checkout-addresses [addresses]="customer.addresses"></checkout-addresses>
        </div>
        <div class="col-xs-12 col-md-4">
            <!-- Coluna Frete -->
            <checkout-shipping *ngIf="hasDeliveryAddress()" [deliveryAddress]="getDeliveryAddress()" (shippingUpdated)="handleShippingUpdated($event)"></checkout-shipping>
            <!-- Coluna Pagamento -->
            <checkout-payments *ngIf="payments.length > 0" [payments]="payments" [shippingCost]="getShipping()" (paymentUpdated)="handlePaymentUpdated($event)" (creditCardUpdated)="handleCreditCardUpdated($event)"></checkout-payments>
        </div>
        <div class="col-xs-12 col-md-4" *ngIf="getCart()">
            <!-- Coluna Revisão do Pedido -->
            <div class="step step-finish">
                <div class="header">
                    <span class="number">4</span>
                    <span class="text">Revisão do Pedido</span>
                </div>
                <div class="content">
                    <div class="scroll-product-list scroll-bar">
                        <!-- Lista de Produtos -->
                        <ul class="product-list">
                            <li class="product-item" *ngFor="let item of getCart().products">
                                <span class="image">
                                    <img *ngIf="item.sku.picture" [attr.src]="mediaPath + item.sku.picture.thumbnail" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                                    <img *ngIf="!item.sku.picture" [attr.src]="'/assets/images/no-image.jpg'" width="100" height="100" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                                </span>
                                <span class="details">
                                    <b class="name">{{item.name}}</b>
                                    <span class="sku" *ngFor="let variation of item.sku.variations">{{variation.name + ': ' + variation.option.name}}</span>
                                    <span class="qty">Quantidade: {{item.quantity}}</span>
                                </span>
                                <span class="price">
                                    <span class="regular-price">{{item.totalUnitPrice |  currencyFormat }}</span>
                                </span>
                            </li>
                            <li class="product-item" *ngFor="let item of getCart().services">
                                <span class="details">
                                    <b class="name">{{item.serviceType}}</b>
                                    <span class="qty">Quantidade: {{item.quantity}}</span>
                                </span>
                                <span class="price">
                                    <span class="regular-price">{{item.price * item.quantity |  currencyFormat }}</span>
                                </span>
                            </li>
                            <li class="product-item" *ngFor="let item of getCart().paints">
                                <span class="image">
                                    <img *ngIf="item.optionPicture" [attr.src]="mediaPathPaint + item.optionPicture" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                                    <img *ngIf="!item.optionPicture" [attr.src]="'/assets/images/no-image.jpg'" width="100" height="100" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                                </span>
                                <span class="details">
                                    <b class="name">{{item.baseName}} {{item.colorName}}</b>
                                    <b class="name">{{item.colorCode}}</b>
                                    <b class="name">{{item.optionName}}</b>
                                    <span class="color-block img-thumbnail" [ngStyle]="{'background-color': '#' + item.colorRgb}"></span>
                                    <span class="qty">Quantidade: {{item.quantity}}</span>
                                </span>
                                <span class="price">
                                    <span class="regular-price">{{item.totalUnitPrice |  currencyFormat }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="totals-box">
                        <!-- Coluna Valores -->
                        <table class="totals">
                            <tbody>
                                <tr class="subtotal">
                                    <td class="text-left"><span>Subtotal ({{getNumItemsInCart()}} {{(getNumItemsInCart() > 1) ? 'itens' : 'item'}})</span></td>
                                    <td class="text-right"><strong>{{getSubTotal() |  currencyFormat }}</strong></td>
                                </tr>
                                <tr class="descont">
                                    <td class="text-left"><span>Desconto</span></td>
                                    <td class="text-right"><strong>- {{getDiscount() |  currencyFormat }}</strong></td>
                                </tr>
                                <tr class="shipping">
                                    <td class="text-left"><span>Frete</span></td>
                                    <td class="text-right"><strong>{{getShipping() |  currencyFormat }}</strong></td>
                                </tr>
                                <tr class="services">
                                    <td class="text-left"><span>Serviços</span></td>
                                    <td class="text-right"><strong>{{getTotalServices() | currencyFormat}}</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-left"><span>Método de Pagamento</span></td>
                                    <td class="text-right">
                                        <strong *ngIf="getPaymentTypeSelected()">{{getPaymentTypeSelected().name}}</strong>
                                        <span class="text-mutted" *ngIf="!getPaymentTypeSelected()">Nenhum selecionado</span>
                                    </td>
                                </tr>
                                <tr *ngIf="isDeliveryPayment()">
                                    <td class="text-left"><span>Troco para</span></td>
                                    <td class="text-right">
                                        <input type="number" name="changeFor" id="changeFor" [(ngModel)]="changeFor" currencyFormat class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="total">
                                    <th class="text-left"><span>Total</span></th>
                                    <th class="text-right"><strong>{{getTotal() |  currencyFormat }}</strong></th>
                                </tr>
                                <tr class="total" *ngIf="getTotalCreditCard() > 0">
                                    <th class="text-left"><span>Total Parcelado</span></th>
                                    <th class="text-right"><strong>{{getTotalCreditCard() | currencyFormat}}</strong></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <form (submit)="placeOrder($event)"> 
                <button type="submit" href="#" id="btn_place-order" data-loading-text="Processando..." class="btn btn-block btn-lg btn-success btn-checkout">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>FINALIZAR COMPRA</span>
                </button>

            </form>
        </div>
    </div>
</main>