<main role="main" class="container user-panel-page">
    <div class="container">
        <div class="row">
            <h3>Recuperar Senha</h3>
            <div class="forget-password">
                <form [formGroup]="formRecoverPassword" (submit)="recoverPassword($event)">
                    <div class="form-group required" [ngClass]="{'has-error': hasError('email')}">
                        <label class="control-label" for="email">E-mail</label>
                        <input type="email" class="form-control" formControlName="email" [(ngModel)]="email" required placeholder="nome@email.com.br">
                        <p class="text-danger" *ngIf="fieldIsBlank('email')">O campo e-mail é obrigatório</p>
                        <p class="text-danger" *ngIf="invalidEmail('email') && !fieldIsBlank('email')">O e-mail inválido</p>
                        
                    </div>
                    <div class="form-group required" [ngClass]="{'has-error': hasError('confirmEmail')}">
                        <label class="control-label" for="email">Confirmar E-mail</label>
                        <input type="email" class="form-control" formControlName="confirmEmail" [(ngModel)]="confirmEmail" required placeholder="Confirme seu e-mail">
                        <p class="text-danger" *ngIf="fieldIsBlank('confirmEmail')">O campo confirmar e-mail é obrigatório</p>
                        <p class="text-danger" *ngIf="invalidEmail('confirmEmail') && !fieldIsBlank('confirmEmail')">O e-mail inválido</p>
                        <p class="text-danger" *ngIf="emailNotConfirmed() && !invalidEmail('confirmEmail') && !fieldIsBlank('confirmEmail')">Confirme o e-mail</p>
                        
                    </div>
                    <div class="form-group required" [ngClass]="{'has-error': hasError('cpf_cnpj')}">
                        <label class="control-label" for="email">CPF/CNPJ</label>
                        <input type="text" class="form-control" formControlName="cpf_cnpj" [(ngModel)]="cpf_cnpj" required placeholder="CPF ou CNPJ">
                        <p class="text-danger" *ngIf="fieldIsBlank('cpf_cnpj')">O campo CPF/CNPJ é obrigatório</p>
                        
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>

    </div>
    
</main>