<div id="mini-cart" *ngIf="!isMobile()">
    <div class="mini-cart">
        <a [routerLink]="['/carrinho']" class="" title="Meu Carrinho">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-success">{{getNumItemsInCart()}}</span>
            <span class="name-cart visible-md-inline-block  visible-lg-inline-block">Meu Carrinho</span>
        </a>
        <div id="header-cart" *ngIf="getCart()">
            <ul class="header-cart-items scroll-bar" *ngIf="getNumItemsInCart() > 0">
                <li *ngFor="let item of getCart().products" class="header-cart-item clearfix">
                    <span class="actions pull-right">
                        <button class="btn-remove" (click)="deleteItem($event, item)"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">Remover do Carrinho</span></button>
                    <span class="update-qty">
                            <input type="number" min="1" step="1" [ngModel]="item.quantity" (ngModelChange)="updateItem($event, item)" disabled="disabled">
                        </span>
                    </span>
                    <span class="thumb pull-left">
                        <a [routerLink]="[getRoute(item)]" class="link-product">
                            <img *ngIf="item.sku.picture" [attr.src]="getPicture(item.sku)" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                            <img *ngIf="!item.sku.picture" [attr.src]="'/assets/images/no-image.jpg'" width="100" height="100" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                        </a>
                    </span>
                    <span class="details overflow-hidden">
                        <a [routerLink]="[getRoute(item)]" class="link-product">
                            <b>{{item.name}} {{item.sku.code}} {{item.sku.feature}}</b>
                            
                            <strong>
                                <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                    </strong>
                    </a>
                    </span>
                </li>
                <li *ngFor="let paint of getCart().paints" class="header-cart-item clearfix">
                    <span class="actions pull-right">
                        <button class="btn-remove" (click)="deletePaint($event, paint)"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">Remover do Carrinho</span></button>
                    <span class="update-qty">
                            <input type="number" min="1" step="1" [ngModel]="paint.quantity" (ngModelChange)="updateItem($event, paint)" disabled="disabled">
                        </span>
                    </span>
                    <span class="thumb pull-left">
                        <a [routerLink]="['/corespersonalizadas/', paint.manufacturer, paint.colorCode, paint.optionId]" class="link-product">
                            <img *ngIf="paint.optionPicture" [attr.src]="mediaPathPaint + paint.optionPicture" class="img-responsive image" [attr.alt]="paint.name" width="50" height="50">
                            <img *ngIf="!paint.optionPicture" [attr.src]="'/assets/images/no-image.jpg'" width="100" height="100" class="img-responsive image" [attr.alt]="paint.name" width="50" height="50">
                        </a>
                    </span>
                    <span class="details overflow-hidden">
                        <a [routerLink]="['/corespersonalizadas/', paint.manufacturer, paint.colorCode, paint.optionId]" class="link-product">
                            <b>{{paint.baseName}} {{paint.colorName}} | {{paint.colorCode}} | {{paint.optionName}}</b>
                            <span class="color-block img-thumbnail" [ngStyle]="{'background-color': '#' + paint.colorRgb}"></span>
                            <strong>
                                <span class="regular-price">{{paint.totalUnitPrice | currencyFormat }}</span>
                            </strong>
                    </a>
                    </span>
                </li>
            </ul>
            <div class="header-cart-footer">
                <div class="header-cart-subtotal">
                    <strong>Subtotal: <span class="price">{{getSubTotal() |  currencyFormat }}</span></strong>
                </div>
                <div class="btn-actions">
                    <a *ngIf="modality > -1" [routerLink]="['/']" class="btn btn-block btn-default btn-lg btn-continue">{{(modality == 1) ? 'Continuar Comprando' : 'Continuar orçando'}}</a>
                    <checkout-button [cart]="getCart()"></checkout-button>
                </div>
            </div>
        </div>
    </div>

</div>