<div class="content">
    <!-- Payment Bankslip Form -->
    <div class="form-payment" *ngIf="getBankSlips().length > 0">
        <label *ngFor="let method of getBankSlips()" href="#" (click)="selectMethod($event, method)" [ngClass]="{'active': methodSelected.id == method.id}" [attr.title]="'Selecione ' + method.name + ' como método de pagamento'">
            <i class="fa" [ngClass]="{'fa-square-o': methodSelected.id != method.id, 'fa-check-square-o': methodSelected.id == method.id}"></i>

            <img *ngIf="method.icon" [attr.src]="'/assets/images/' + method.icon" [attr.alt]="method.name">
            Pagar com boleto
        </label>
    </div>
    <!-- Payment Bankslip Form -->
</div>
