<!-- Parte principal do site -->
<main role="main">
    <app-showcase-banner-stripe [store]="getStore()" [banners]="stripeBanners"></app-showcase-banner-stripe>
    <app-showcase-banner [store]="getStore()" [banners]="banners"></app-showcase-banner>
    <app-brand-nav [store]="getStore()"></app-brand-nav>
    <app-showcase-banner-half [store]="getStore()" [banners]="halfBanners"></app-showcase-banner-half>
    <div class="container">
        <app-showcase-group *ngFor="let group of groups" [store]="getStore()" [group]="group"></app-showcase-group>
    </div>
</main>