<main role="main" class="product-page">
    <div class="product-page-details">
        <div class="container" *ngIf="notFound">
            <div class="product-unavaliable">
                <b>Página não encontrada</b>
            </div>
        </div>
    </div>
</main>

<main role="main" class="product-page" *ngIf="!isMobile() && isProductLoaded()">
    
    <div class="product-page-details">
        <div class="container">
            <div class="bread-crumb">
                <app-bread-crump [category]="getBreadCrump()"></app-bread-crump>
            </div>

            <div class="row row-first">
                <div class="col-image col-md-6 col-sm-12">
                    <app-product-gallery [sku]="sku" [store]="getStore()"></app-product-gallery>
                </div>
                <div class="col-details col-md-6 col-sm-12">
                    <div class="product-name col-md-12">
                        <h2>{{product.name}}</h2>
                    </div>
                    <div class="product-sku text-right col-md-12">Marca: <span>{{product.brand.name}}</span></div>
                    <div class="product-sku text-right col-md-12">Cód: <span>{{sku.code}}</span></div>

                    <div class="rating-stars text-left col-md-12" *ngIf="getRating() > 0">
                        <span class="star">
                            <i class="fa" [ngClass]="{'fa-star':totalNote > 0, 'fa-star-o':totalNote < 1}" aria-hidden="true"></i>
                            <i class="fa" [ngClass]="{'fa-star':totalNote > 1, 'fa-star-o':totalNote < 2}" aria-hidden="true"></i>
                            <i class="fa" [ngClass]="{'fa-star':totalNote > 2, 'fa-star-o':totalNote < 3}" aria-hidden="true"></i>
                            <i class="fa" [ngClass]="{'fa-star':totalNote > 3, 'fa-star-o':totalNote < 4}" aria-hidden="true"></i>
                            <i class="fa" [ngClass]="{'fa-star':totalNote > 4, 'fa-star-o':totalNote < 5}" aria-hidden="true"></i>         
                        </span>
                        <span class="qty">{{getRating()}}</span>
                    </div>

                    <div class="product-short-description col-md-12">
                        <p [innerHTML]="product.briefDescription"></p>
                    </div>
                    
                    <div *ngIf="isProductRelated()" class="product-variation col-md-12">
                        <app-related-products [relatedProducts]="related" [product]="product" (productUpdated)="handleProductUpdated($event)"></app-related-products>
                    </div>

                    <div *ngIf="!isProductRelated() && !isHiddenVariation() && product.skus.length > 0" class="product-variation col-md-12">
                         <app-product-variation [selected]="sku" (skuUpdated)="handleSkuUpdated($event)" (allOptionsSelected)="handleOptionChanged($event)" [skus]="product.skus"></app-product-variation> 
                    </div>

                    <div class="product-variation-item" *ngIf="product.selfColor">
                        <legend class="product-variation-title">Cor selecionada:</legend>
                        <span class="product-variation-option" *ngIf="!feature"><a href="#" (click)="colorPicker($event)">Nenhuma cor selecionada</a></span>
                        <span class="product-variation-option" *ngIf="feature">
                            <span class="self-color-selected" [style.background-color]="selfColor.Hex"></span>
                        <span class="self-color-text"><a href="#" (click)="colorPicker($event)">{{feature}}</a></span>
                        </span>
                    </div>

                    <div class="clearfix" *ngIf="isProductAvailable()">

                        <div class="col-md-12">
                            <div class="product-price-box" *ngIf="sku.promotionalPrice > 0 && sku.price > 0">
                                <diV class="col-md-6 pull-right text-center">
                                    <span class="old-price">
                                    <span class="price-label">De:</span>
                                    <span class="price">{{sku.price |  currencyFormat}}</span>
                                    </span>
                                    <span class="regular-price">
                                    <span class="price-label">Por</span>
                                    <span class="price">{{sku.promotionalPrice |  currencyFormat}}</span>
                                    </span>
                                    <span class="parcelamento" *ngIf="installment">
                                        {{ installment }}
                                    </span>
                                </diV>
                            </div>

                            <div class="product-price-box" *ngIf="sku.promotionalPrice == 0 && sku.price > 0">
                                <diV class="col-md-6 pull-right text-center">
                                    <span class="regular-price">
                                    <span class="price-label"></span>
                                    <span class="price">{{sku.price |  currencyFormat}}</span>
                                    </span>
                                    <span class="parcelamento" *ngIf="installment">
                                        {{ installment }}
                                    </span>
                                    <span class="text-info" *ngIf="getTotalServices() > 0">
                                        + {{getTotalServices() |  currencyFormat}}
                                        em serviços
                                    </span>
                                </diV>
                            </div>
                            <app-installment-simulation *ngIf="!isCatalog()" [sku]="sku" [sku]="sku"></app-installment-simulation>
                        </div>

                        <div class="col-md-6">
                            <div class="product-loss-percentage col-md-12" *ngIf="product.lossPercentage > 0">
                                <a href="#" (click)="getLossPercentage($event)" class="btn btn-xs btn-default">
                                    Adicionar {{product.lossPercentage}}% de perda
                                </a>
                            </div>

                            <div class="product-area-sizer col-md-12" *ngIf="product.areaSizer > 0">
                                <label class="label col-sm-12">Informe a área a ser aplicada (m²)</label>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input class="input" type="number" maxlength="2" min="1" [(ngModel)]="areaSizer" placeholder="m²">
                                    </div>
                                    <button (click)="getAreaSizer($event)" class="btn btn-default"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                </div>
                            </div>

                            <app-service *ngIf="product && product.services.length > 0" [product]="product" [selectedServices]="services" (serviceUpdated)="handleServiceUpdated($event)"></app-service>
                        </div>

                        <div class="col-md-6">
                            <!--BUY-->
                            <div class="product-buy-content text-center">
                                <div class="product-buy-box">
                                    <div class="product-buy-qty col-xs-4 col-md-12">
                                        <span class="product-buy-qty-label">Qtd.</span>
                                        <span class="product-buy-qty-input">
                                            <input type="number" value="1" min="1" step="1" [(ngModel)]="quantity">
                                        </span>
                                    </div>

                                    <div class="product-buy-button col-xs-8 col-md-12">
                                        <button class="btn btn-success btn-block btn-lg" (click)="addToCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span *ngIf="modality == 1">Comprar</span>
                                            <span *ngIf="modality == 0">Orçar</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="stock-info stock-alert" *ngIf="showStock()">
                                    <p>Temos apenas {{sku.stock}} no estoque</p>
                                </div>

                            </div>
                        </div>
                        
                    </div>

                    <div class="product-unavaliable" *ngIf="!isProductAvailable()">
                        <b>Produto temporariamente indisponível</b>

                        <form [formGroup]="productAwaitedForm" (submit)="receiveProductsAwaited($event)" class="form-inline">
                            <p>Avise-me quando estiver disponível</p>
                            <div class="form-group box-name" [ngClass]="{'has-error': hasError('name')}">
                                <label for="name" class="sr-only">Nome</label>
                                <input type="text" name="name" [(ngModel)]="productsAwaited.name" class="form-control form-input" placeholder="Nome" required formControlName="name" >
                            </div>
                            <div class="form-group box-email" [ngClass]="{'has-error': hasError('email')}">
                                <label for="email" class="sr-only">E-mail</label>
                                <input type="email" name="email" [(ngModel)]="productsAwaited.email" class="form-control form-input" placeholder="E-mail" formControlName="email" required>
                                <button type="submit" id="btn-productsawaited" class="btn btn-clear"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="form-group">
                                <div *ngIf="hasError('name')" class="text-danger">O campo Nome é obrigatório</div>
                                <div *ngIf="hasError('email')" class="text-danger">E-mail inválido</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-extra" *ngIf="product.selfColor">
        <div class="container">
            <div class="description">
                <h3 class="title"><b>SELECIONE A COR</b></h3>
            </div>
            <app-self-color (colorUpdated)="handleFeatureUpdated($event)"></app-self-color>
        </div>
    </div>

    <div class="product-suggestions">
        <div class="container">
            <app-cross-selling *ngIf="product.crossSellingComplete.length > 0" [store]="getStore()"  [products]="product.crossSellingComplete"></app-cross-selling>
        </div>
    </div>
    <div class="product-extra">
        <div class="container">
            <div class="description" *ngIf="product.description">
                <h3 class="title"><b>INFORMAÇÕES DO PRODUTO</b></h3>
                <div class="description-text" [innerHTML]="product.description"></div>
            </div>

            <div class="specifications" *ngIf="hasTechnicalInformation()">
                <h3 class="title"><b>ESPECIFICAÇÕES TÉCNICAS</b></h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let techInfo of product.technicalInformation">
                            <td class="field">{{techInfo.name}}</td>
                            <td class="value">{{techInfo.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="fileguide" *ngIf="hasFileGuide()">
                <h3 class="title"><b>MANUAL DO PRODUTO</b></h3>
                <div class="lineshowcase"></div>
                <div class="form-group">
                    <a [attr.href]="fileGuideSafeUrl" class="btn btn-default">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Baixe aqui o manual do produto
                    </a>
                </div>
            </div>

            <div class="video" *ngIf="hasVideo()">
                <h3 class="title"><b>VIDEO DO PRODUTO</b></h3>
                <div class="form-group">
                    <iframe [attr.src]="videoSafeUrl" width="600" height="300">
                    </iframe>
                </div>
            </div>

            <app-product-rating [product]="product" (ratingUpdated)="handleRating($event)"></app-product-rating>
            <app-up-selling *ngIf="product.upSellingComplete.length > 0" [store]="getStore()" [products]="product.upSellingComplete"></app-up-selling>
        </div>
    </div>
</main>

<main role="main" class="container" *ngIf="isMobile() && isProductLoaded()">

    <!-- Product Details -->
    <div class="product-page-details">
        <div class="">
            <app-product-gallery [sku]="sku" [store]="getStore()"></app-product-gallery>

            <div class="col-details">
                <div class="product-name">
                    <h2>{{product.name}}</h2>
                </div>

                <div class="product-sku">Cód: <span>{{sku.code}}</span></div>

                <div *ngIf="isProductRelated()" class="product-variation">
                    <app-related-products [relatedProducts]="related" [product]="product" (productUpdated)="handleProductUpdated($event)"></app-related-products>
                </div>

                <div *ngIf="!isProductRelated() && !isHiddenVariation() && product.skus.length > 0" class="product-variation">
                     <app-product-variation [selected]="sku" (skuUpdated)="handleSkuUpdated($event)" (allOptionsSelected)="handleOptionChanged($event)" [skus]="product.skus"></app-product-variation> 
                </div>

                <div class="product-price-box text-center" *ngIf="sku.promotionalPrice">
                    <span class="old-price">
                        <span class="price-label">De:</span>
                    <span class="price">{{sku.price |  currencyFormat}}</span>
                    </span>
                    <span class="regular-price">
                        <span class="price-label">Por</span>
                    <span class="price">{{sku.promotionalPrice |  currencyFormat}}</span>
                    </span>
                    <app-installment-simulation *ngIf="!isCatalog()" [sku]="sku"></app-installment-simulation>
                </div>
                <div class="product-price-box text-center" *ngIf="sku.promotionalPrice == 0">
                    <span class="regular-price">
                        <span class="price-label"></span>
                    <span class="price">{{sku.price |  currencyFormat}}</span>
                    </span>

                    <app-installment-simulation *ngIf="!isCatalog()" [sku]="sku" [sku]="sku"></app-installment-simulation>
                </div>

                <div class="product-unavaliable" *ngIf="!isProductAvailable()">
                    <b>Produto temporariamente indisponível</b>

                    <form (submit)="receiveProductsAwaited($event)" class="form-inline">
                        <p>Avise-me quando estiver desiponível</p>
                        <div class="form-group box-name">
                            <label for="name" class="sr-only">Nome</label>
                            <input type="text" name="name" [(ngModel)]="productsAwaited.name" class="form-control form-input" placeholder="Nome" required>
                        </div>
                        <div class="form-group box-email">
                            <label for="email" class="sr-only">E-mail</label>
                            <input type="email" name="email" [(ngModel)]="productsAwaited.email" class="form-control form-input" placeholder="E-mail"
                                required>
                            <button type="submit" id="btn-productsawaited" class="btn btn-clear"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
                <div class="product-buy-content text-center" *ngIf="isProductAvailable()">
                    <div class="product-buy-box">
                        <span class="product-buy-qty col-sm-4">
                            <span class="product-buy-qty-label">Qtd.</span>
                            <span class="product-buy-qty-input">
                                <input type="number" value="1" min="1" step="1" [(ngModel)]="quantity">
                            </span>
                        </span>
                        <span class="product-buy-button col-sm-8">
                            <button class="btn btn-success btn-block btn-lg" (click)="addToCart()">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                                <span *ngIf="sku.price > 0">Comprar</span>
                                <span *ngIf="sku.price < 1">Orçar</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="product.description" class="description-tab-box">
                <button data-id="#informacoes-produto" class="btn-open-content" (click)="accordion('#informacoes-produto')">Informações do Produto <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div id="informacoes-produto" style="display: none;">
                    <div class="description-text" [innerHTML]="product.description">
                    </div>
                </div>
            </div>

            <div *ngIf="product.technicalInformation.length > 0" class="description-tab-box">
                <button data-id="#especificacoes-produto" class="btn-open-content" (click)="accordion('#especificacoes-produto')">Especificações Técnicas <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div id="especificacoes-produto" style="display: none;">
                    <div class="specifications">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let techInfo of product.technicalInformation">
                                    <td class="field">{{techInfo.name}}</td>
                                    <td class="value">{{techInfo.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="description-tab-box">
                <button data-id="#avaliacoes-produto" class="btn-open-content" (click)="accordion('#avaliacoes-produto')">Avaliações do Produto <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div id="avaliacoes-produto" style="display: none;">
                    <app-product-rating [product]="product" (ratingUpdated)="handleRating($event)"></app-product-rating>
                </div>
            </div>

            <!-- Produtos Relacionados -->
            <app-cross-selling *ngIf="product.crossSellingComplete.length > 0" [store]="getStore()" [products]="product.crossSellingComplete"></app-cross-selling>
            <!-- /Produtos Relacionados -->

        </div>
    </div>
    <!-- /Product Details -->

</main>